*{
    margin: 0;
    padding: 0;
}
body{
    background-color: red;
    overflow: hidden;
}
.gameContainer{
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
p{
    position: absolute;
    left: 20%;  
    top: 2rem;
    font-size:2rem ;
    color: rgb(9, 232, 72);
    font-weight:bolder;
    text-decoration: wavy;
    font-family: cursive;
}
.dino{
    background-image: url(./images/dino.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 200px;
    position: absolute;
    bottom: 3px;
    left: 3vw;
}
#scoreCont{
    position: absolute;
    inset:0;
    margin-left: 43%;  
    margin-top: 20%;
    color: rgb(82, 12, 12);
    font-size: 2rem;
    font-weight: 800;
    font-family: sans-serif;
}

.gameOver{
    text-align: center;
    padding-top: 9rem;
    visibility: hidden;
    color: rgb(255, 221, 0);
   text-shadow: 9px 10px 4px rgb(227, 6, 6);
    font-size: 3rem;
}
.jump{
    visibility: hidden;
}
.over{
    animation: over 3s linear;
}
@keyframes over{
    0%{
        font-size: 0;
    }50%{
        font-size: 5rem;
    }75%{
        font-size: unset;
    }
}

.obstacle{
    background-image: url(./images/obstacle.png);
    background-size: cover;
    width:90px ;
    height: 100px;
    position: absolute;
    bottom: 3px;
    left: 80vw;  
}
.animateDino{
    animation-name: dino;
    animation-duration: 0.9s;
    animation-timing-function: linear;
}
.obstacleAni{
    animation-name: obstacleAni;   
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes dino{
    0%{
        bottom: 3px;
    }50%{
        bottom: 335px;
    }100%{
        bottom: 3px;
    }
}
@keyframes obstacleAni{
    0%{
        left:100vw;
    }100%{
        left: -44vw;
    }
}


@media(max-width:539px){
    .gameOver{
        text-align: unset;
        padding-top: 6rem;
        font-size: 2rem;
        padding-left: 1rem;

    }
    .obstacle{
        width:60px ;
        height: 70px;
    }
    .dino{
        width: 100px;
        height: 150px;
        bottom: 0px;
    }
    #scoreCont{
        margin-left: 0;
    margin-top: 3rem;
        font-size: 1.5rem;
        color: cadetblue;
        padding-left: 1rem;
    }
    p{
        font-size: 1rem ;
    }
    .jump{
        display: inline;
        color: green;
        font-size: 1rem;
        font-weight: 800;
        background-color: violet;
        border-radius:30%;
        padding: 0.3rem;
        position: absolute;
        visibility: visible;
    }
}